<div class="tw-m-4 tw-p-4">
  <app-header>
    @if (!disableSend()) {
      <tools-new-send-dropdown-v2 buttonType="primary" (addSend)="addSend($event)" />
    }
  </app-header>

  <tools-send-list
    [sends]="filteredSends()"
    [loading]="loading()"
    [disableSend]="disableSend()"
    [listState]="listState()"
    [searchText]="currentSearchText()"
    (editSend)="onEditSend($event)"
    (copySend)="onCopySend($event)"
    (deleteSend)="onDeleteSend($event)"
    (removePassword)="onRemovePassword($event)"
  >
    <tools-new-send-dropdown-v2
      slot="empty-button"
      [hideIcon]="true"
      buttonType="primary"
      (addSend)="addSend($event)"
    />
  </tools-send-list>
</div>
