#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	npm ci --ignore-scripts

override_dh_auto_build:
	cd apps/cli && NODE_ENV=production npx webpack

override_dh_auto_test:
	node apps/cli/build/bw.js --version

override_dh_auto_install:
	# Install the webpack bundle and wrapper script
	mkdir -p debian/bitwarden-cli/usr/lib/bitwarden-cli
	cp -r apps/cli/build/* debian/bitwarden-cli/usr/lib/bitwarden-cli/
	# Install launcher script
	mkdir -p debian/bitwarden-cli/usr/bin
	echo '#!/bin/sh' > debian/bitwarden-cli/usr/bin/bw
	echo 'exec /usr/bin/node /usr/lib/bitwarden-cli/bw.js "$$@"' >> debian/bitwarden-cli/usr/bin/bw
	chmod 755 debian/bitwarden-cli/usr/bin/bw
	# Install man page
	mkdir -p debian/bitwarden-cli/usr/share/man/man1
	install -m 644 debian/bw.1 debian/bitwarden-cli/usr/share/man/man1/bw.1
	# Install bash completion
	mkdir -p debian/bitwarden-cli/usr/share/bash-completion/completions
	install -m 644 debian/bw.bash-completion debian/bitwarden-cli/usr/share/bash-completion/completions/bw
	# Install zsh completion
	mkdir -p debian/bitwarden-cli/usr/share/zsh/vendor-completions
	install -m 644 debian/bw.zsh-completion debian/bitwarden-cli/usr/share/zsh/vendor-completions/_bw

override_dh_auto_clean:
	rm -rf apps/cli/build
