<bit-section>
  <bit-form-field>
    <bit-label for="file">{{ "file" | i18n }}</bit-label>
    <div class="tw-flex tw-mt-2 tw-mb-1">
      <button bitButton type="button" buttonType="secondary" (click)="fileSelector.click()">
        {{ "chooseFile" | i18n }}
      </button>
      <span
        class="{{ fileName() ? 'tw-text-main' : 'tw-text-muted' }} tw-flex tw-items-center tw-pl-3"
      >
        {{ fileName() || ("noFileChosen" | i18n) }}</span
      >
    </div>
    <input bitInput #fileSelector type="file" hidden label="File..." (change)="addFile($event)" />
    <bit-hint>
      {{ "maxFileSize" | i18n }}
    </bit-hint>
  </bit-form-field>
  @if (showUploadFileButton()) {
    <div class="tw-flex tw-flex-row tw-items-center tw-gap-2">
      <button bitButton type="button" buttonType="primary" (click)="uploadFile()">
        {{ "upload" | i18n }}
      </button>
      <button bitButton type="button" buttonType="secondary" (click)="removeFile()">
        {{ "cancel" | i18n }}
      </button>
    </div>
  }
</bit-section>
