<div class="tw-@container/receive-table">
  <bit-table [dataSource]="dataSource()">
    <ng-container header>
      <tr>
        <th bitCell bitSortable="name" default>{{ "name" | i18n }}</th>
        <th bitCell bitSortable="deletionDate" class="@lg/receive-table:tw-table-cell tw-hidden">
          {{ "deletionDate" | i18n }}
        </th>
        <th bitCell>{{ "options" | i18n }}</th>
      </tr>
    </ng-container>
    <ng-template body let-rows$>
      <tr bitRow *ngFor="let r of rows$ | async">
        <td bitCell (click)="onEditReceive(r)" class="tw-cursor-pointer">
          <div class="tw-flex tw-gap-2 tw-items-center">
            <button type="button" bitLink>
              {{ r.name }}
              @if (r.disabled) {
                <span class="tw-sr-only">, {{ "disabled" | i18n }}</span>
              }
              @if (r.expired) {
                <span class="tw-sr-only">, {{ "expired" | i18n }}</span>
              }
            </button>
            @if (r.disabled) {
              <i
                class="bwi bwi-exclamation-triangle"
                appStopProp
                title="{{ 'disabled' | i18n }}"
                aria-hidden="true"
              ></i>
            }
            @if (r.expired) {
              <i
                class="bwi bwi-clock"
                appStopProp
                title="{{ 'expired' | i18n }}"
                aria-hidden="true"
              ></i>
            }
          </div>
        </td>
        <td
          bitCell
          (click)="onEditReceive(r)"
          class="tw-text-muted tw-cursor-pointer @lg/receive-table:tw-table-cell tw-hidden"
        >
          <small bitTypography="body2" appStopProp>
            {{ r.deletionDate | date: "medium" }}
          </small>
        </td>
        <td bitCell class="tw-w-0 tw-text-right">
          <button
            type="button"
            size="small"
            [bitMenuTriggerFor]="receiveOptions"
            bitIconButton="bwi-ellipsis-v"
            label="{{ 'options' | i18n }}"
          ></button>
          <bit-menu #receiveOptions>
            <button type="button" bitMenuItem (click)="onCopy(r)">
              <i class="bwi bwi-fw bwi-clone" aria-hidden="true"></i>
              {{ "copyReceiveLink" | i18n }}
            </button>
            <button type="button" bitMenuItem (click)="onDelete(r)">
              <span class="tw-text-danger">
                <i class="bwi bwi-fw bwi-trash" aria-hidden="true"></i>
                {{ "delete" | i18n }}
              </span>
            </button>
          </bit-menu>
        </td>
      </tr>
    </ng-template>
  </bit-table>
</div>
