<app-header>
  <button type="button" bitButton buttonType="primary" (click)="openNewReceiveDrawer()">
    {{ "new" | i18n }}
  </button>
</app-header>

<div>
  @if (loading()) {
    <bit-spinner />
  } @else {
    <bit-search
      [ngModel]="currentSearchText()"
      (ngModelChange)="searchTextChanged($event)"
      [placeholder]="'search' | i18n"
      appAutofocus
    />
    <app-receive-table [dataSource]="dataSource" />
    @if (noSearchResults()) {
      <bit-no-items [icon]="noResultsIcon">
        <ng-container slot="title">{{ "receivesTitleNoSearchResults" | i18n }}</ng-container>
        <ng-container slot="description">{{ "receivesBodyNoSearchResults" | i18n }}</ng-container>
      </bit-no-items>
    } @else if (
      listState() === ReceiveListState.NoResults || listState() === ReceiveListState.Empty
    ) {
      <bit-no-items [icon]="noItemIcon">
        <ng-container slot="title">{{ "receivesTitleNoItems" | i18n }}</ng-container>
        <ng-container slot="description">{{ "receivesBodyNoItems" | i18n }}</ng-container>
      </bit-no-items>
    }
  }
</div>
