<popup-page>
  <popup-header slot="header" [pageTitle]="'providerRecords' | i18n" showBackButton>
    <ng-container slot="end">
      <button bitButton size="small" buttonType="primary" type="button" (click)="navigateToAdd()">
        <i class="bwi bwi-plus" aria-hidden="true"></i>
        {{ "new" | i18n }}
      </button>
      <app-pop-out></app-pop-out>
    </ng-container>
  </popup-header>

  <ng-container *ngIf="providerRecords$ | async as records">
    <ng-container *ngIf="records.length; else noRecords">
      <bit-item-group>
        <bit-item *ngFor="let record of records">
          <bit-item-content>
            <span class="tw-font-medium">{{ record.name }}</span>
            <span slot="secondary" class="tw-text-muted">{{ getSiteName(record) }}</span>
          </bit-item-content>
          <ng-container slot="end">
            <button
              bitIconButton="bwi-pencil-square"
              size="small"
              type="button"
              (click)="navigateToEdit(record)"
              [label]="'edit' | i18n"
            ></button>
          </ng-container>
        </bit-item>
      </bit-item-group>
    </ng-container>

    <ng-template #noRecords>
      <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-h-full tw-gap-4 tw-p-6">
        <i class="bwi bwi-hospital tw-text-5xl tw-text-muted" aria-hidden="true"></i>
        <p class="tw-text-muted tw-text-center">{{ "noProviderRecords" | i18n }}</p>
        <button bitButton buttonType="primary" type="button" (click)="navigateToAdd()">
          <i class="bwi bwi-plus" aria-hidden="true"></i>
          {{ "newProviderRecord" | i18n }}
        </button>
      </div>
    </ng-template>
  </ng-container>
</popup-page>
